<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heima.wemedia.mapper.WmNewsMapper">

    <select id="findWmNewsList" resultType="com.heima.model.common.wemedia.vo.WmNewsVo" parameterType="com.heima.model.common.admin.dtos.NewsAuthDto">
        select wn.*, wu.name as authorName
        from wm_news wn
        left outer join wm_user wu on wn.user_id = wu.id
        <where>
            <if test="newsAuthDto.title != null and newsAuthDto.title != ''">
                and wn.title like #{newsAuthDto.title}
            </if>
        </where>
        limit #{newsAuthDto.page}, #{newsAuthDto.size}
    </select>

    <select id="findWmNewsListCount" resultType="int" parameterType="com.heima.model.common.admin.dtos.NewsAuthDto">
        select count(1)
        from wm_news wn
        left outer join wm_user wu on wn.user_id = wu.id
        <where>
            <if test="newsAuthDto.title != null and newsAuthDto.title != ''">
                and wn.title like #{newsAuthDto.title}
            </if>
        </where>
    </select>
</mapper>